@model IEnumerable<TPDetailing2.Models.Servicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Servicios</h1>

@if (User.IsInRole("ADMIN"))
{
    <p>
        <a asp-action="Create">Crear Servicio</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>                
                @Html.DisplayNameFor(model => model.FotoUrl)
            </th>
            @if (User.IsInRole("ADMIN"))
            {
             <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>  
            }
           
            <th>
                @Html.DisplayNameFor(model => model.PrecioFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <img src="@item.FotoUrl" height="75" alt="@item.Nombre"/>
            </td>
            @if (User.IsInRole("ADMIN"))
            {
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            }
           
            <td>
                @Html.DisplayFor(modelItem => item.PrecioFinal)
            </td>
            @if (User.IsInRole("ADMIN"))
            {
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServicioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServicioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServicioId">Delete</a>
            </td>
            }

            @if (User.IsInRole("CLIENTE"))
            {
            <td>
                <a asp-action="Index" asp-controller="Turnos" asp-route-id="@item.ServicioId">Reservar</a>
            </td>
            } 
           
         
        </tr>
}
    </tbody>
</table>

@if ( !User.IsInRole("CLIENTE") && !User.IsInRole("ADMIN") && !User.IsInRole("EMPLEADO") )
{
    <h5 class="border border-1 border-danger text-danger">Login para reservar</h5>
}
